/* Current.css */
body {
      font-family: 'Merriweather Sans', 'Roboto', 'Open Sans', sans-serif;
      font-size: 1rem;
      margin: 10px;

    }
    h1 {
      font-size: 40px;
      font-family: 'Noto Serif', 'Merriweather', 'Alegreya', serif;
      text-decoration-style: solid;
      text-decoration: underline;
      font-weight: 700;
    }
    footer {
      background-color: darkslategrey;
      color: aliceblue;
      margin-top: 70px;

    }
    #top-nav {
      background: rgb(157, 246, 165);
      margin-bottom: 15px;
    }